body {
    text-align: center;
    background-color: #212529;
    color: #f8f9fa;
}

header {
    padding-top: 25px;
}

nav{
    float: right;
}

nav a{
    padding:1px;
    color: white;
}

h1{
    #color: #fff;
    text-align: center;
    margin: 0;
}

.query-panel{
    /*width: 50px;*/
    margin: auto;
    margin-bottom: 10%;
}

.heading{
    margin-top:15%;
}

