body {
    text-align: center;
    background-color: #212529;
    color: #f8f9fa;
    margin-top:15%
}

header {
    padding-top: 25px;
    height: 180px;
}

h1{
    #color: #fff;
    text-align: center;
    margin: 0;
}

.query-panel{
    /*width: 50px;*/
    margin: auto;
    margin-bottom: 10%;
}


